
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prn211Ass</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Prn211Ass.styles.css" asp-append-version="true" />

</head>


    <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3" style="background-color:#ee4d2d !important;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="AdminMainPage" style="font-size: 1.5rem; padding-top: 6px;">
                    <img src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30163918/1241-768x591.png" width="90" height="90" style="margin-left: 8px" class="d-inline-block align-top" alt="">
                    <span style="margin-left: 8px; font-size: 3rem;">Admin</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                &copy; 2023 - Prn211Ass - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </nav>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


